html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #f0ece5;
  font-family: "Poppins", sans-serif;
}

.nav-top-container {
  margin-bottom: 4rem;
}

#navbarDropdown a {
  color: #333;
}

.main-image-container {
  padding: 7rem;
}

/* img on left side */
.main-image {
  background-color: #cec2ab;
  border-radius: 100%;
  max-width: 100%;
  text-align: center;
}

.main-image img {
  border-radius: 100%;
  max-width: 100%;
  text-align: center;
}

/* Gabriel Austin */
.my-name-heading {
  color: #333 !important;
  font-size: 2.2rem;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  top: 45px;
  z-index: 100;
}

/* Gabe */
.my-name-bg-heading {
  bottom: -36px;
  color: transparent !important;
  font-family: "Khula", sans-serif;
  font-size: 9.4rem;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 1;
  left: -10px;
  max-width: 100%;
  position: relative;
  text-transform: uppercase;
  top: -55px;
  -webkit-text-stroke: 1px #7f7f7f;
  white-space: nowrap;
  z-index: 50;
}

.position-title {
  font-size: 1.2rem;
  margin-top: -3rem;
  padding-left: 5px;
}

.main-copy-para {
  line-height: 1.5rem;
}

.fab {
  color: #cec2ab;
}

.fab:hover {
  color: #333;
  opacity: 0.5;
}

.icons {
  column-gap: 80px;
  padding-top: 30px;
}

.projects-container {
  margin-top: 20px;
}

.projects-heading {
  color: transparent !important;
  font-family: "Khula", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 4px;
  max-width: 100%;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #7f7f7f;
  white-space: nowrap;
}

.projects-container a.nav-link {
  color: #333;
}

.projects-container a.nav-link:hover {
  border-bottom: solid 1px #333;
  border-top: solid 1px #333;
}

ul.nav.nav-pills {
  display: flex;
  flex-direction: row;
  margin-bottom: 60px;
}

/* footer */
p.fixed.bottom {
  text-align: center;
}

.site-footer a {
  color: #333;
  text-decoration: none;
}

.site-footer a:hover {
  border-bottom: solid 1px #333;
  border-top: solid 1px #333;
}

/* mobile */
@media only screen and (max-width: 600px) {
  .main-image-container {
    padding: 9rem;
    margin-top: -50px !important;
  }

  .icons {
    margin-bottom: -80px;
    padding-top: 40px;
  }

  .my-name-bg-heading,
  .my-name-heading {
    letter-spacing: normal;
    padding-left: 5px;
    padding-right: 20px;
  }

  .position-title,
  .main-copy-para {
    letter-spacing: normal;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hr-line {
    margin-left: 20px;
  }

  ul.nav.nav-pills {
    display: flex;
    flex-direction: column;
    margin-bottom: 140px;
  }

  .projects-container a.nav-link {
    border-bottom: solid 1px #333;
    border-top: solid 1px #333;
    margin-bottom: 30px;
  }

  .nav-fill .nav-item .nav-link,
  .nav-justified .nav-item .nav-link {
    width: 60%;
    margin: 0 auto;
  }
}